body{
    padding: 0;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    background-color: red;
}
.body-container{
    flex-basis: 50%;
}
.sectone,.secttwo,.sectthree,.footer{
    font-family: sans-serif;
    flex-basis: 50%;
    text-align: center;
}
.sectthree{
    font-size: 18px;
    font-weight: 700;
    padding-top: 12px;
}
.secttwo{
    background-image: url(image/img.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 25px;
    font-weight: 700;
}
.heading{
    font-size: 45px;
    font-weight: bolder;   
}
.para{
    font-size: 20px;
    font-weight: 700;
}
.readingtime{
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin-bottom: 30px;
    margin-top: -20px;
}
.secttwo{
     height: 350px;
}
ul{
    list-style-type: none;
}
.footer{
    margin-top: 20px;
}
.party{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 30px;
    font-size: 20px;
    transition: 100ms all linear;
}
.party:hover{
    background-color: rgb(31, 30, 30);
}
button{
    padding: 5px 20px ;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}
input {
    margin: 10px;
    padding: 10px 20px;
}